<p id="notice"><%= notice %></p>

<p>
  <b>Ask:</b>
  <%= @question.ask %>
</p>

<p>
  <b>Answer:</b>
  <%= @question.answer %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
